@mixin smooth {
	-webkit-font-smoothing: antialiased;
}

@mixin input-placeholder($color) {
	&.placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color: $color;
	}
	&::-webkit-input-placeholder {
		color: $color;
	}
}
